body {
  background-color: #FCF9C6;
}

form {
  background-color: #C7D36F;
  border-radius: 10px;
  padding: 20px;
   max-width: 500px;
  margin: 0 auto;
  font-size: 20px;
}

label {
  font-size: 18px;
}

form input[type=text] {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}

form button {
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #9EB23B;
  color: white;
  margin-left: 10px;
}

form button:hover {
  background-color: #859e2f;
}

#month-link {
  color: #303030;
  font-size: 1.2em;
  text-align: center;
  display: block;
  margin-top: 20px;
}

#output {
  border-radius: 5px;
  width: 320px;
  height: 60px;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
  background-color: #FFFFFF;
}

a {
  color: #6F8027;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#date-block {
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

#date-block:hover {
  background-color: #E5E5E5;
}

#date-block #time-block {
  font-size: 1.5em;
  font-weight: bold;
}

#datetime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 85px;
  background-color: #9ac177;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
   margin: 0 auto;
}

#date {
  display: inline-block;
  margin: 0 10px;
}

#images {
  display: flex;
  justify-content: center;
}

#images img {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  transition: filter 0.5s ease;
  border-radius: 15px;
  margin-top: 25px;
}

#images img:hover {
  cursor: pointer;
}


/* CSS for screens with a width of 768px or more */
@media only screen and (min-width: 768px) {
  /* Add styles for the form container */
  .form-container {
    width: 50%;
    margin: 0 auto;
  }

  /* Add styles for the form input and buttons */
  .form-input,
  .form-btn {
    font-size: 1.2em;
    padding: 10px;
  }

  /* Add styles for the output container */
  .output-container {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
  }
}

/* CSS for screens with a width of less than 768px */
@media only screen and (max-width: 767px) {
  /* Add styles for the form container */
  .form-container {
    width: 90%;
    margin: 0 auto;
  }

  /* Add styles for the form input and buttons */
  .form-input,
  .form-btn {
    font-size: 1em;
    padding: 8px;
  }

  /* Add styles for the output container */
  .output-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }
}

