* {
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
	background-color: #ffffdf;
}
/* background for homepage */
.background {
  background-image: url('images/background.jpg');
  background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*navigation bar */
header {
    background: #ffffdf;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #9dc209;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
        background-color: #ffffdf;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}

/* home page info */
.info {
    width: 50%;
    padding-top: 30px;
}

.infocontact {
    width: 100%;
    padding-top: 10px;
}

p.lg{
    font-family: "Goudy Old Style";
    text-align: center;
    font-size: 3.5rem;
}

p.md{
    font-family: "Goudy Old Style";
    text-align: center;
    font-size: 1.5rem;
}

p.sm{
    font-family: "Goudy Old Style";
    text-align: center;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .info{
        width: 80%;
    }
}

/* banner zooming  */

.image-container {
  display: flex;
  justify-content: center;
}

img.zoom {
  width: 50%;
  transition: transform 0.3s ease-in-out;
}

img.zoom:hover {
  transform: scale(1.1);
}

/*charachers main info*/

.container {
  max-width: 1200px;
  align-items: center;
  margin: 10px auto;

}

.text-image {
  display: flex;
  align-items: center;
}

.text-image img {
  width: 60%;
  max-width: 200px;
  margin-right: 10px;
}

.text-image p {
  font-family: "Goudy Old Style";
  font-size: 22px;
  flex: 1;
}

.naming {
    font-family: "Goudy Old Style";
    font-size: 32px;
    text-align: center;
}

.desc {
    font-family: "Goudy Old Style";
    font-size: 26px;
    font-style: italic;
    text-align: center;
}


/* picture gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.gallery img {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}


/* videos */

.cinema {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.movie {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .cinema {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*contact form*/

/* Apply some basic styles to the form */
form {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b8c65d;
  border-radius: 15px;
   font-size: 16px;
}

/* Style the labels and input fields */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
   font-size: 16px;
}

/* Style the required input fields with a red border */
input:required,
textarea:required {
  border: 1px solid red;
}

/* Style the submit button */
button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
   font-size: 15px;
}

/* Style the form error message */
.form-error {
  color: red;
  margin-bottom: 10px;
}

/* Media queries */
@media screen and (max-width: 767px) {
  form {
    max-width: 80%;
    padding: 10px;
  }
  input,
  textarea {
    font-size: 14px;
     max-width: 94%;
  }
  
  button[type="submit"] {
    font-size: 14px;
  }
  
  
